body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form {
  text-align: center;
}

.square {
  aspect-ratio: 1;
  width: 100%;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
  max-width: 300px;
  place-items: center;
  margin: auto;
}

#reset {
  margin: 20px;
  width: 30%;
  min-width: 150px;
  max-width: 250px;
  height: 35px;
}